body {
		background-color: #cccccc 
	}

		h1 
		{
			text-align: center;
			color: red;
			font-family: garamond, courier, arial, helvetica, sans-serif;
			font-size: 40px;	
			background-color: #cccccc 
		}

		h2 
		{
			text-align: center;
			color: red;
			font-family: garamond, courier, arial, helvetica, sans-serif;
			font-size: 30px;	
			background-color: #cccccc 
		}

		div.img1
		{
			float: right;
		}
		
		div .img2
		{
			float: right;
		}

		p 
		{
			text-align: center;
			margin-right:50px;
			margin-left:50px;
			color: black;
			font-family: garamond, arial, helvetica, sans-serif;
			font-size: 20px;	
			background-color: #cccccc 
		}
  
		p2 
		{
			text-align: center;
			color: black;
			font-family: garamond, arial, helvetica, sans-serif;
			font-size: 14px;	
			background-color: #cccccc 
		}
  
