body {
		background-color: #cccccc 
	}

		h1 
		{
			text-align: center;
			color: red;
			font-family: garamond, courier, arial, helvetica, sans-serif;
			font-size: 40px;	
			background-color: #cccccc 
		}

		h2 
		{
			text-align: center;
			color: red;
			font-family: garamond, courier, arial, helvetica, sans-serif;
			font-size: 30px;	
			background-color: #cccccc 
		}

		h3 
		{
			float: left;
			width: 160;
			height: 210;
		}

		h4 
		{
			float: right;
			width: 260;
			height: 200;
		}

		p 
		{
			text-align: center;
			color: black;
			font-family: garamond, arial, helvetica, sans-serif;
			font-size: 20px;	
			background-color: #cccccc 
		}
  
